@use "../../styles/vars";

.header {
  background-color: vars.$white;
  margin-top: 0;
  position: sticky;
  top: 0;
  transition: top 0.5s linear;
  width: 100vw;
  z-index: 10;
  &.hidden {
    margin-top: -58px;
    top: -58px;
  }
  .mobileNavigation {
    display: none;
    width: vars.$full;
    height: 93px;
    @include vars.tablet-and-lower {
      @include vars.flexbox();
      @include vars.justify-content(center);
      @include vars.align-items(center);
    }
    .hamburger {
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;
      height: 20px;
      position: absolute;
      right: 31px;
      width: 30px;
      z-index: 10001;
      cursor: pointer;
      span {
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        background: vars.$black;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        &:nth-child(1) {
          top: 0px;
        }
        &:nth-child(2),
        &:nth-child(3) {
          top: 10px;
        }
        &:nth-child(4) {
          top: 20px;
        }
      }
    }
    &:hover {
      .hamburger {
        span {
          background-color: vars.$black;
          cursor: pointer;
        }
      }
    }
    &.opened {
      .hamburger {
        span {
          background: vars.$white;
          &:nth-child(1) {
            left: 50%;
            top: 18px;
            width: 0%;
          }
          &:nth-child(2) {
            transform: rotate(45deg);
          }
          &:nth-child(3) {
            transform: rotate(-45deg);
          }
          &:nth-child(4) {
            left: 50%;
            top: 18px;
            width: 0%;
          }
        }
      }
      &:hover {
        .hamburger {
          span {
            background: vars.$black;
          }
        }
      }
    }
  }

  .drawer {
    @include vars.flexbox();
    @include vars.flex-flow(column);
    @include vars.justify-content(center);
    @include vars.align-items(center);
    background: vars.$red;
    left: 0px;
    right: 0px;
    height: 100vh;
    overflow-y: scroll;
    position: fixed;
    width: 100vw;
    transition: top 0.5s linear;
    z-index: 10;
    display: none;
    @include vars.tablet-and-lower {
      @include vars.flexbox();
    }
    &.closed {
      top: 120vh;
    }
    &.opened {
      top: 0px;
    }
    .headerLink {
      @include vars.subhead-font();
      display: block;
      border-color: vars.$white;
      margin-bottom: 20px;
      font-size: 2.5rem;
      width: 100%;
      &:first-child {
        margin-left: 0px;
      }
    }
    .navContainerMobile {
      @include vars.flexbox();
      @include vars.flex-flow(column);
      @include vars.justify-content(space-between);
      @include vars.align-items(center);
      color: vars.$white;
      font-family: vars.$body-font-family;
      font-weight: vars.$header-font-weight;
      font-size: 24px;
      max-height: 322px;
      height: 100%;
    }
  }

  .navContainer {
    @include vars.flexbox();
    @include vars.justify-content(center);
    padding: 10px 0;
    .nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .navGroup {
        @include vars.flexbox();
        @include vars.justify-content(space-around);
        width: vars.$five-twelfths;
      }

      * {
        font-family: vars.$body-font-family;
        font-size: 24px;
      }
    }
    @include vars.tablet-and-lower {
      display: none;
    }
  }

  .orderButton {
    padding: 3px 24px;
    border-radius: 20px;
    background-color: vars.$red;
    border: 0.5px solid vars.$red;
    color: vars.$white;
    cursor: pointer;
    &:hover {
      background: vars.$pink;
      border-color: vars.$pink;
      color: vars.$black;
    }

    @include vars.tablet-and-lower {
      position: fixed;
      bottom: 22px;
    }
  }

  .logoContainer {
    max-width: 150px;
    width: vars.$two-twelfths;
    @include vars.tablet-and-lower {
      width: 120px;
    }
  }
}
