@use "../../styles/vars";

.header {
  @include vars.nav-font();
  background-color: vars.$white;
  color: vars.$maroon;
  font-size: 1.4rem;
  margin-top: 0;
  position: sticky;
  top: 0;
  transition: top 0.25s linear;
  width: 100vw;
  z-index: 10;
  &.hidden {
    margin-top: -58px;
    top: -58px;
  }
  .mobileNavigation {
    display: none;
    width: vars.$full;
    height: 93px;
    padding: 30px 0 10px 0;
    @include vars.tablet-and-lower {
      @include vars.flexbox();
      @include vars.justify-content(center);
      @include vars.align-items(center);
    }
    .hamburger {
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;
      height: 20px;
      position: absolute;
      right: 31px;
      width: 30px;
      z-index: 10001;
      cursor: pointer;
      span {
        background: vars.$black;
        border-radius: 9px;
        display: block;
        height: vars.$border-width;
        left: 0;
        opacity: 1;
        position: absolute;
        width: 100%;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        &:nth-child(1) {
          top: 0px;
        }
        &:nth-child(2),
        &:nth-child(3) {
          top: 10px;
        }
        &:nth-child(4) {
          top: 20px;
        }
      }
    }
    &:hover {
      .hamburger {
        span {
          background-color: vars.$black;
          cursor: pointer;
        }
      }
    }
    &.opened {
      .hamburger {
        span {
          background: vars.$black;
          &:nth-child(1) {
            left: 50%;
            top: 18px;
            width: 0%;
          }
          &:nth-child(2) {
            transform: rotate(45deg);
          }
          &:nth-child(3) {
            transform: rotate(-45deg);
          }
          &:nth-child(4) {
            left: 50%;
            top: 18px;
            width: 0%;
          }
        }
      }
    }
  }

  .drawer {
    @include vars.flexbox();
    @include vars.flex-flow(column);
    @include vars.justify-content(center);
    @include vars.align-items(center);
    background: vars.$green;
    display: none;
    height: 100vh;
    left: 0px;
    overflow-y: scroll;
    position: fixed;
    right: 0px;
    transition: top 0.5s linear;
    width: 100vw;
    z-index: 10;
    @include vars.tablet-and-lower {
      @include vars.flexbox();
    }
    &.closed {
      top: 120vh;
    }
    &.opened {
      top: 0px;
    }
    .headerLink {
      @include vars.subhead-font();
      display: block;
      border-color: vars.$white;
      margin-bottom: 20px;
      font-size: 2.5rem;
      width: 100%;
      &:first-child {
        margin-left: 0px;
      }
    }
    .navContainerMobile {
      @include vars.flexbox();
      @include vars.flex-flow(column);
      @include vars.justify-content(space-around);
      @include vars.align-items(center);
      height: 100vh;
      color: vars.$black;
      font-family: vars.$body-font-family;
      font-weight: vars.$header-font-weight;
      font-size: 2rem;
      padding: 120px 0;
      a.active {
        border-color: vars.$white;
      }
    }
  }

  .navContainer {
    @include vars.flexbox();
    @include vars.justify-content(center);
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
    .nav {
      @include vars.flexbox();
      @include vars.justify-content(center);
      @include vars.align-items(center);
      width: 100%;
      .navGroup {
        @include vars.flexbox();
        width: vars.$five-twelfths;
        a:not(.orderButton) {
          border-bottom: 3px solid vars.$white;
          margin: 0 vars.$one-twelfth;
          &:first-child {
            margin-left: 0;
          }
        }
        &:first-of-type {
          @include vars.justify-content(flex-start);
        }
        &:last-child {
          @include vars.justify-content(flex-end);
        }
      }
    }
    .navAlternate {
      @include vars.flexbox();
      @include vars.justify-content(space-between);
      @include vars.align-items(center);
      width: calc(100% - 60px);
      .shortNav {
        @include vars.flexbox();
        @include vars.justify-content(space-between);
        @include vars.align-items(center);
        width: vars.$seven-twelfths;
      }
      .altNavLinks {
        a:not(.orderButton) {
          margin-right: 60px;
        }
      }
      .logoContainer {
        max-width: 100px;
      }
      * {
        font-size: 1.2rem;
      }
    }
    @include vars.tablet-and-lower {
      display: none;
    }
  }

  .logoLink {
    &:hover {
      cursor: pointer;
    }
  }
  .orderButton {
    button {
      background-color: vars.$white;
      border: vars.$border-width solid vars.$black;
      color: vars.$black;
      &:hover {
        background: vars.$black;
        border-color: vars.$black;
        color: vars.$white;
      }
    }

    @include vars.tablet-and-lower {
      @include vars.flexbox();
      @include vars.justify-content(center);
      bottom: 20px;
      position: fixed;
      button {
        background: vars.$pink;
        bottom: 22px;
        border-radius: 30px;
        font-size: 1.5rem;
        position: fixed;
        padding: 12px 24px;
        width: vars.$ten-twelfths;
        text-align: center;
        &:hover {
          background: vars.$white;
          color: vars.$black;
        }
      }
    }
  }

  .logoContainer {
    max-width: 100px;
    width: vars.$two-twelfths;
    padding: 10px 0;
    @include vars.tablet-and-lower {
      width: 100px;
    }
  }
}
