@use "../../styles/vars";

.careersSection {
  @include vars.body-font();
  @include vars.flex-flow(column);
  background-color: vars.$black;
  padding-top: 0;
  .marquee {
    @include vars.subhead-font();
    font-weight: 300;
    background-color: vars.$pink;
    padding: 20px 0;
    font-size: 2.4rem;

    span {
      margin-right: 16px;
    }

    @include vars.tablet-and-lower {
      padding: 16px 0;
      font-size: 1.7rem;
    }
  }

  .description {
    @include vars.flexbox();
    @include vars.flex-flow(column);
    @include vars.justify-content(center);
    @include vars.align-items(center);
    text-align: center;
    padding: 120px 0 0 0;
    @include vars.tablet-and-lower {
      padding: 90px 0 0 0;
    }

    .copyBody {
      font-size: 1.7rem;
      max-width: 800px;
      width: vars.$eight-twelfths;
      color: vars.$white;

      @include vars.tablet-and-lower {
        font-size: 18px;
        width: vars.$full;
        max-width: 335px;
        letter-spacing: 0.05em;
        line-height: 22px;
        text-align: center;
      }

      .copy {
        margin-bottom: 100px;
        p {
          @include vars.nav-font();
          font-weight: 400;
        }
        @include vars.tablet-and-lower {
          margin-bottom: 74px;
        }

        ul {
          @include vars.flexbox();
          @include vars.flex-flow(column);
          @include vars.justify-content(center);
          @include vars.align-items(center);
          @include vars.nav-font();
          font-weight: 500;
          li {
            margin: 0;
            padding: 0;
            &::marker {
              color: vars.$pink;
              content: "+";
            }
            p {
              color: vars.$pink;
              text-align: left;
              padding-left: 10px;
              margin: 10px 0;
            }
          }

          @include vars.tablet-and-lower {
            @include vars.align-items(flex-start);
            margin: 0 auto;
            width: vars.$eight-twelfths;
          }
        }
      }
      .buttonHeadline {
        @include vars.header-font();
        font-size: 1.7rem;
        padding: 0 0 10px 0;
        text-transform: lowercase;
      }
      .applyButton {
        display: inline-block;
        padding: 8px 60px;
        border-radius: 30px;
        background-color: vars.$black;
        border: vars.$border-width solid vars.$white;
        color: vars.$white;
        font-family: vars.$subhead-font-family;
        font-size: 2rem;
        letter-spacing: 0.05rem;

        transition: all 0.15s linear;
        cursor: pointer;
        &:hover {
          background: vars.$white;
          border-color: vars.$white;
          color: vars.$black;
        }

        @include vars.tablet-and-lower {
          font-size: 1.7rem;
        }
      }
    }
  }
}
