@use "../../styles/vars";

.careersSection {
  @include vars.body-font();
  @include vars.flex-flow(column);
  background-color: vars.$black;
  padding-top: 0;
  .marquee {
    @include vars.header-font();
    @include vars.title-font-size();
    background-color: vars.$pink;
    padding: 20px 0;

    span {
      margin-right: 16px;
    }

    @include vars.tablet-and-lower {
      padding: 16px 0;
      font-size: 1.7rem;
    }
  }

  button {
    background: vars.$black;
    border-color: vars.$white;
    color: vars.$white;
    &:hover {
      background: vars.$white;
      border-color: vars.$white;
      color: vars.$black;
    }
  }

  .description {
    @include vars.flexbox();
    @include vars.flex-flow(column);
    @include vars.justify-content(center);
    @include vars.align-items(center);
    text-align: center;
    padding: 120px 0 0 0;
    @include vars.tablet-and-lower {
      padding: 90px 0 0 0;
    }

    .copyBody {
      color: vars.$white;
      max-width: 800px;
      width: vars.$eight-twelfths;
      @include vars.tablet-and-lower {
        width: vars.$ten-twelfths;
      }
      .copy {
        margin-bottom: 100px;

        @include vars.tablet-and-lower {
          margin-bottom: 74px;
        }
        ul li {
          &::marker {
            color: vars.$white;
            font-size: 1.7rem;
          }
          p {
            color: vars.$white;
          }
        }
      }
    }
  }
}
