@use "../../styles/vars";

.careersSection {
  @include vars.body-font();
  @include vars.flex-flow(column);
  background-color: vars.$red;
  padding-top: 0;
  .marquee {
    background-color: vars.$pink;
    padding: 20px 0;
    font-size: 36px;

    span {
      margin-right: 16px;
    }

    @include vars.tablet-and-lower {
      padding: 16px 0;
      font-size: 24px;
    }
  }

  .description {
    @include vars.flexbox();
    @include vars.flex-flow(column);
    @include vars.justify-content(center);
    @include vars.align-items(center);
    text-align: center;
    padding: 120px 0 0 0;
    @include vars.tablet-and-lower {
      padding: 90px 0 0 0;
    }

    .copyBody {
      font-size: 24px;
      max-width: 800px;
      width: vars.$eight-twelfths;
      color: vars.$white;

      @include vars.tablet-and-lower {
        font-size: 18px;
        width: vars.$full;
        max-width: 335px;
        letter-spacing: 0.05em;
        line-height: 22px;
        text-align: center;
      }

      .copy {
        margin-bottom: 100px;

        @include vars.tablet-and-lower {
          margin-bottom: 74px;
        }

        ul {
          @include vars.flexbox();
          @include vars.flex-flow(column);
          @include vars.justify-content(center);
          @include vars.align-items(center);
          li {
            margin: 0;
            padding: 0;
            &::marker {
              content: "+";
            }
            p {
              text-align: left;
              padding-left: 10px;
              margin: 10px 0;
            }
          }

          @include vars.tablet-and-lower {
            @include vars.align-items(flex-start);
            margin: 0 auto;
            width: vars.$eight-twelfths;
          }
        }
      }

      .applyButton {
        padding: 3px 50px;
        border-radius: 20px;
        background-color: vars.$black;
        border: vars.$border-width solid vars.$black;
        color: vars.$white;
        font-size: 2rem;
        transition: all 0.15s linear;
        cursor: pointer;
        &:hover {
          background: vars.$white;
          border-color: vars.$white;
          color: vars.$black;
        }

        @include vars.tablet-and-lower {
          font-size: 24px;
        }
      }
    }
  }
}
