@use '../../styles/vars';

.introSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introImageWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 100%;
}

.outerImageWrapper {
  width: 35em;
  height: 48em;
  padding: 1em;
  border: vars.$border-width solid vars.$black;
  border-radius: 50%;
  div,
  span,
  img {
    height: 100% !important;
    width: 100% !important;
    border: vars.$border-width solid vars.$black;
    border-radius: 50%;
  }
  @include vars.tablet-and-lower {
    width: 29em;
    margin-left: 2em;
    margin-right: 2em;
    background-color: #f3e8e2;
  }
}

.parallaxOne {
  top: -2em;
  left: 10em;
}

.parallaxTwo {
  bottom: 11em;
  right: 10em;
}

.parallaxOne,
.parallaxTwo {
  width: 7vw;
  position: absolute;
  @include vars.lap-small {
    display: none;
  }
  @include vars.tablet-and-lower {
    display: none;
  }
}

.mainImageIcon {
  position: absolute;
  width: 12em;
  bottom: 10em;
  left: 20vw;
  @include vars.lap-small {
    width: 10em;
    left: 15vw;
  }
  @include vars.tablet-and-lower {
    width: 8em;
    left: 3vw;
  }
}
