@import '../../styles/vars.scss';

.announcementBar {
  background-color: $pink;
  color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $nav-font-family;
  font-weight: $nav-font-weight;
  font-size: 0.8em;
  padding: 0.8em;
}
