@use "../../styles/vars";

.aboutSection {
  @include vars.flexbox();
  @include vars.flex-direction(column);
  @include vars.justify-content(center);
  @include vars.align-items(center);
  background-color: vars.$black;
  width: 100vw;
  min-height: 100vh;
  padding: 120px 0;
  position: relative;

  .aboutSectionContainer {
    max-width: 800px;
    width: vars.$eight-twelfths;
    text-align: center;
    color: vars.$white;

    @include vars.tablet-and-lower {
      width: vars.$ten-twelfths;
      padding-top: 0px;
      padding-bottom: 103px;
    }

    .title {
      @include vars.header-font;
      font-size: 36px;

      @include vars.tablet-and-lower {
        font-size: 24px;
      }
    }

    .copy {
      @include vars.body-font;
      font-size: 24px;
      margin-top: 60px;

      @include vars.tablet-and-lower {
        margin-top: 31px;
        font-size: 18px;
      }
    }
  }

  .aboutIcon {
    position: absolute;
    width: vars.$one-twelfth;
    right: vars.$one-twelfth;
    bottom: 36px;

    @include vars.tablet-and-lower {
      margin: 0 auto;
      right: auto;
      width: vars.$three-twelfths;
    }
  }
}
