@use "../../styles/vars";

.footer {
  @include vars.flexbox();
  @include vars.justify-content(center);
  @include vars.align-items(center);
  @include vars.flex-direction(column);
  background-color: vars.$pink;
  color: vars.$black;
  padding: 90px 0px 0 0;
  width: vars.$full;
  background-color: vars.$black;
  padding: 90px 0px 30px 0;
  color: white;

  .footerBody {
    width: vars.$six-twelfths;
    color: vars.$white;
    text-align: center;
    width: vars.$ten-twelfths;

    .headline {
      @include vars.header-font();
      font-size: 36px;
      line-height: 43px;
      @include vars.tablet-and-lower {
        font-size: 24px;
        line-height: 29px;
      }
    }

    .bodyText,
    .emailText {
      @include vars.body-font();
      font-size: 24px;
      margin: 0;

      @include vars.tablet-and-lower {
        font-size: 18px;
      }

      a {
        &:hover {
          color: vars.$pink;
        }
      }
    }
    .emailText {
      text-transform: lowercase;
    }

    .emailBody {
      margin-top: 60px;
      width: 100%;

      @include vars.tablet-and-lower {
        margin-top: 20px;
      }

      .inputContainer {
        @include vars.flex-direction(column);
        @include vars.flexbox();
        @include vars.justify-content(center);
        max-width: 600px;
        margin: 0 auto;
        text-align: left;
        width: 100%;

        @include vars.tablet-and-lower {
          margin-top: 10px;
        }

        label {
          @include vars.body-font();
          font-size: 18px;
          margin: 0;
        }

        div {
          @include vars.flexbox();

          @include vars.tablet-and-lower {
            @include vars.flex-direction(column);
          }

          input {
            @include vars.body-font();
            font-size: 24px;
            text-align: center;
            padding: 8px;
            background-color: vars.$white;
            border: none;
            outline: none;
            width: 100%;
            color: vars.$red;

            &::placeholder {
              color: vars.$red;
            }
          }

          button {
            @include vars.body-font();
            font-size: 24px;
            text-align: center;
            padding: 8px 30px;
            border: 3px solid vars.$red;
            background-color: vars.$red;
            color: vars.$white;
            &:hover {
              background: vars.$white;
              color: vars.$black;
            }
          }
        }
      }
    }
  }

  .workShopButton {
    @include vars.body-font();
    font-size: 24px;
    color: vars.$black;
    background-color: vars.$white;
    padding: 8px;
    border: none;
    margin-top: 60px;
    &:hover {
      background: vars.$pink;
    }
  }

  .socials {
    margin-top: 20px;
    width: 100%;
    @include vars.flexbox();
    @include vars.justify-content(center);
    @include vars.align-items(center);

    @include vars.tablet-and-lower {
      margin-top: 10px;
      margin-bottom: 90px;
    }

    a {
      padding: 17.5px;

      .socialIconContianer {
        background: vars.$red;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        padding: 10px;

        @include vars.tablet-and-lower {
          height: 70px;
          width: 70px;
          padding: 15px;
        }

        svg path {
          fill: vars.$white;
        }
        &:hover {
          background: vars.$white;

          svg path {
            fill: vars.$black;
          }
        }
      }
    }
  }

  .icon {
    width: vars.$eleven-twelfths;

    .footerIcon {
      margin-top: 25px;
      min-width: 291px;
      width: vars.$one-twelfth;

      @include vars.tablet-and-lower {
        min-width: 200px;
        margin: 60px auto 0 auto;
      }
    }
  }

  button {
    cursor: pointer;
  }
}
