@use "../../styles/vars";

.footer {
  @include vars.flexbox();
  @include vars.justify-content(start);
  @include vars.align-items(center);
  @include vars.flex-direction(column);
  background-color: vars.$white;
  color: vars.$black;
  padding: 90px 0px 0 0;
  width: vars.$full;

  .footerBody {
    color: vars.$black;
    text-align: center;
    width: vars.$ten-twelfths;

    .headline {
      @include vars.header-font();
      @include vars.subhead-font-size();
      margin-bottom: 0;
    }

    .bodyText,
    .emailText {
      @include vars.nav-font();
      @include vars.subhead-font-size();
      font-weight: 400;
      margin: 0;

      a {
        &:hover {
          color: vars.$maroon;
        }
      }
    }
    .emailText {
      @include vars.header-font();
      text-transform: lowercase;
    }

    .emailBody {
      margin-top: 60px;
      width: 100%;

      @include vars.tablet-and-lower {
        margin-top: 20px;
      }

      .inputContainer {
        @include vars.flex-direction(column);
        @include vars.flexbox();
        @include vars.justify-content(center);

        max-width: 600px;
        margin: 0 auto;
        text-align: left;
        width: 100%;

        @include vars.tablet-and-lower {
          margin-top: 10px;
        }

        label {
          @include vars.nav-font();
          font-weight: 400;
          margin: 0;
        }

        div {
          @include vars.flexbox();
          border: vars.$border-width solid vars.$black;
          @include vars.tablet-and-lower {
            @include vars.flex-direction(column);
          }

          input {
            @include vars.nav-font();
            @include vars.subhead-font-size();
            font-weight: 400;
            text-align: center;
            padding: 8px;
            background-color: vars.$white;
            border: none;
            outline: none;
            width: 100%;
            color: vars.$black;

            &::placeholder {
              color: vars.$black;
            }
          }

          button {
            @include vars.body-font();
            @include vars.subhead-font-size();
            text-align: center;
            padding: 8px 30px;
            border-top: none;
            border-right: none;
            border-bottom: none;
            border-left: vars.$border-width solid vars.$black;
            background-color: vars.$black;
            color: vars.$white;
            &:hover {
              background: vars.$white;
              color: vars.$black;
            }
          }
        }
      }
    }
  }

  .workShopButton {
    @include vars.body-font();
    @include vars.subhead-font-size();
    color: vars.$black;
    background-color: vars.$white;
    padding: 8px;
    border: none;
    margin-top: 60px;
    &:hover {
      background: vars.$pink;
    }
  }

  .socials {
    margin-top: 20px;
    width: 100%;
    @include vars.flexbox();
    @include vars.justify-content(center);
    @include vars.align-items(center);

    @include vars.tablet-and-lower {
      margin-top: 10px;
      margin-bottom: 90px;
    }

    a {
      padding: 17.5px;

      .socialIconContianer {
        background: vars.$red;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        padding: 10px;

        @include vars.tablet-and-lower {
          height: 70px;
          width: 70px;
          padding: 15px;
        }

        svg path {
          fill: vars.$white;
        }
        &:hover {
          background: vars.$white;

          svg path {
            fill: vars.$black;
          }
        }
      }
    }
  }

  .icon {
    width: vars.$eleven-twelfths;

    .footerIcon {
      margin-top: 25px;
      min-width: 291px;
      width: vars.$one-twelfth;

      @include vars.tablet-and-lower {
        min-width: 200px;
        margin: 60px auto 0 auto;
      }
    }
  }

  button {
    cursor: pointer;
  }
}

.parallaxFooter {
  @include vars.flexbox();
  @include vars.justify-content(center);
  @include vars.align-items(center);
  @include vars.position(relative);
  background-color: vars.$green;
  width: vars.$full;
  margin-top: 60px;
  padding-top: 60px;

  .socialContainer {
    background: vars.$pink;
    border: vars.$border-width solid vars.$black;
    border-top-right-radius: 350px;
    border-top-left-radius: 350px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    color: vars.$green;
    height: 200px;
    width: 400px;
    .followTitle {
      @include vars.flexbox();
      @include vars.justify-content(center);
      padding-top: 20px;
      svg {
        width: 300px;
        path {
          fill: vars.$black;
        }
      }
    }
    .socials {
      margin-top: 0;
      a {
        padding-top: 0;
      }
      .socialIconContianer {
        background: vars.$black;
        border: vars.$border-width solid vars.$black;

        svg path {
          fill: vars.$pink;
        }
        &:hover {
          background: vars.$pink;
          svg path {
            fill: vars.$black;
          }
        }
      }
    }
  }
  @include vars.tablet-and-lower {
    padding-bottom: 90px;
    .socialContainer {
      border-bottom: vars.$border-width solid vars.$black;
    }
  }
}
