@use "../../styles/vars";

.footer {
  @include vars.flexbox();
  @include vars.justify-content(start);
  @include vars.align-items(center);
  @include vars.flex-direction(column);
  background-color: vars.$pink;
  color: vars.$black;
  padding: 90px 0px 0 0;
  width: vars.$full;

  .footerBody {
    color: vars.$black;
    text-align: center;
    width: vars.$ten-twelfths;

    .headline {
      margin-bottom: 0;
    }

    .bodyText,
    .emailText {
      @include vars.nav-font();
      margin: 0;

      a {
        &:hover {
          color: vars.$pink;
        }
      }
    }
    .emailText {
      @include vars.header-font();
      text-transform: lowercase;
    }

    .emailBody {
      margin-top: 60px;
      width: 100%;

      @include vars.tablet-and-lower {
        margin-top: 20px;
      }

      .inputContainer {
        @include vars.flex-direction(column);
        @include vars.flexbox();
        @include vars.justify-content(center);

        max-width: 600px;
        margin: 10px auto 0 auto;
        text-align: left;
        width: 100%;

        @include vars.tablet-and-lower {
          margin-top: 10px;
        }

        div {
          @include vars.flexbox();
          border: 1px solid vars.$black;
          @include vars.tablet-and-lower {
            @include vars.flex-direction(column);
          }

          button {
            border-left: vars.$border-width solid vars.$black;
            border-right: none;
            border-top: none;
            border-bottom: none;
            background-color: vars.$black;
            border-radius: 0;
            color: vars.$white;
            font-size: 24px;
            text-align: center;

            &:hover {
              background: vars.$white;
              color: vars.$black;
            }
          }
        }
      }
    }
  }

  .workShopLink {
    margin: 60px auto 0 auto;
    width: vars.$two-twelfths;
    svg {
      width: 100%;
      path {
        fill: vars.$black;
      }
    }
    &:hover {
      svg path {
        fill: vars.$maroon;
      }
    }
    @include vars.tablet-and-lower {
      width: vars.$six-twelfths;
    }
  }

  .socials {
    margin-top: 20px;
    width: 100%;
    @include vars.flexbox();
    @include vars.justify-content(center);
    @include vars.align-items(center);

    @include vars.tablet-and-lower {
      margin-top: 10px;
      margin-bottom: 90px;
    }

    a {
      padding: 17.5px;

      .socialIconContianer {
        background: vars.$red;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        padding: 10px;

        @include vars.tablet-and-lower {
          height: 70px;
          width: 70px;
          padding: 15px;
        }

        svg path {
          fill: vars.$white;
        }
        &:hover {
          background: vars.$white;

          svg path {
            fill: vars.$black;
          }
        }
      }
    }
  }

  .icon {
    width: vars.$eleven-twelfths;

    .footerIcon {
      margin-top: 25px;
      min-width: 291px;
      width: vars.$one-twelfth;

      @include vars.tablet-and-lower {
        min-width: 200px;
        margin: 60px auto 0 auto;
      }
    }
  }
}

.parallaxFooter {
  @include vars.flexbox();
  @include vars.justify-content(center);
  @include vars.align-items(center);
  @include vars.position(relative);
  background-color: vars.$green;
  width: vars.$full;
  margin-top: 60px;
  padding-top: 60px;
  .socialContainer {
    background: vars.$pink;
    border: 1px solid vars.$black;
    border-top-right-radius: 350px;
    border-top-left-radius: 350px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    color: vars.$green;
    height: 200px;
    position: relative;
    width: 400px;
    transform: translate(0, 300px);
    @include vars.tablet-and-lower {
      border-bottom: 1px solid vars.$black;
      margin-bottom: 100px;
    }
    @include vars.tablet-and-lower {
      padding-bottom: 100px;
    }
    .followTitle {
      @include vars.flexbox();
      @include vars.justify-content(center);
      padding-top: 10px;
      svg {
        height: 125px;
        width: 275px;

        path {
          fill: vars.$black;
        }
      }
    }
    .socials {
      margin-top: 0;
      position: absolute;
      top: 120px;
      a {
        padding-top: 0;
      }
      .socialIconContianer {
        background: vars.$black;
        border: 1px solid vars.$black;

        svg path {
          fill: vars.$pink;
        }
        &:hover {
          background: vars.$pink;
          svg path {
            fill: vars.$black;
          }
        }
      }
    }
  }
}
