@use "../../styles/vars";

.visitSection {
    width: 100%;
    display: flex;
    align-self: flex-start;

    .imageColumn,
    .infoColumn {
        width: 50%;
    }

    .infoColumn {
        @include vars.body-font;
        background-color: vars.$black;
        text-align: center;
    }

    .hoursSection,
    .visitSection {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: vars.$white;
    }

    .hoursSection {
        position: relative;

        .hoursHeadline {
            margin: 0;
            font-size: 24px;
        }

        .hoursTitle {
            font-size: 36px;
            font-weight: vars.$header-font-weight;
            margin: 0;
        }

        .hoursContainer {
            margin-bottom: 40px;

            p {
                margin: 0;
                font-size: 24px;
            }
        }

        .parallaxImage {
            position: absolute;
            left: 50px;
            bottom: 0;
            width: 64px;
        }
    }

    .visitSection {
        position: relative;
        padding-bottom: 48px;

        .hoursHeadline {
            margin: 0;
            font-size: 24px;
        }

        .hoursTitle {
            font-size: 36px;
            font-weight: vars.$header-font-weight;
            margin: 0;
        }

        .mapsContainer {
            background-color: vars.$white;
            width: 70%;
            height: 300px;
        }

        .hoursContainer {
            margin-bottom: 40px;

            p {
                margin: 0;
                font-size: 24px;
            }
        }

        .parallaxImage {
            position: absolute;
            right: 64px;
            bottom: 36px;
            width: 291px;
        }
    }

    .image {
        position: sticky;
        top: 0;
        z-index: 10;
    }

}