@use "../../styles/vars";

.menuSection {
  @include vars.justify-content(center);
  @include vars.align-items(center);
  @include vars.flex-direction(column);
  background-color: vars.$white;

  .menuEmbedImage,
  .iconsContainer {
    max-width: 1200px;
    width: vars.$eight-twelfths;

    @include vars.tablet-and-lower {
      width: vars.$full;
    }
  }

  .buttonHeadline {
    @include vars.header-font();
    font-size: 1.7rem;
    padding: 0 0 10px 0;
    text-transform: lowercase;
  }

  .menuDownloadLink {
    padding: 0 0 90px 0;
    @include vars.mobile() {
      padding: 2.5rem 0;
    }
    button {
      cursor: pointer;
      border: vars.$border-width solid vars.$black;
      border-radius: 30px;
      border-width: 1px;
      background: none;
      font-family: vars.$subhead-font-family;
      font-size: 2rem;
      letter-spacing: 0.05rem;
      padding: 8px 30px;
      &:hover {
        background: vars.$pink;
        border-color: vars.$pink;
      }
    }
  }

  .iconsContainer {
    width: 100%;
    .parallaxIconOne {
      margin-top: 120px;
      width: vars.$one-twelfth;
      @include vars.tablet-and-lower {
        display: none;
      }
    }
  }

  .orderButton {
    @include vars.flexbox();
    @include vars.align-items(center);
    @include vars.justify-content(center);
    @include vars.button-font();
    background: vars.$red;
    border-radius: 50%;
    color: vars.$white;
    font-weight: bold;
    font-size: 2.4rem;
    height: vars.$two-twelfths;
    margin: 60px;
    transform: rotate(-10deg);
    width: vars.$two-twelfths;
    position: relative;
    transition: background 0.25s linear;

    @include vars.tablet-and-lower {
      display: none;
      height: vars.$five-twelfths;
      width: vars.$five-twelfths;
      transform: rotate(-20deg);
      font-size: 1rem;
    }

    .orderNowText {
      bottom: 10px;
      height: calc(100% - 20px);
      left: 10px;
      position: absolute;
      right: 10px;
      top: 10px;
      width: calc(100% - 20px);

      @include vars.tablet-and-lower {
        bottom: 7.5px;
        height: calc(100% - 15px);
        left: 7.5px;
        right: 7.5px;
        top: 7.5px;
        width: calc(100% - 15px);
        transform: rotate(10deg);
      }

      path {
        fill: vars.$white;
      }
    }
    &:hover {
      background: vars.$black;
    }
  }
  .menuFooter {
    @include vars.flexbox();
    @include vars.justify-content(space-between);
    width: vars.$ten-twelfths;

    @include vars.tablet-and-lower {
      @include vars.justify-content(center);
    }
  }
  .foodHighlights {
    @include vars.flexbox();
    @include vars.flex-direction(column);
    @include vars.align-items(center);
    @include vars.justify-content(center);
    .food {
      width: 100%;
      text-align: center;
      .icon {
        position: absolute;
        width: vars.$one-twelfth;
        &.wide {
          width: vars.$two-twelfths;
        }
        @include vars.mobile() {
          display: none;
        }
      }
      .left {
        left: calc(-100vw * 1 / 12);
        &.wide {
          left: calc(-100vw * 2 / 12);
        }
      }
      .right {
        right: calc(-100vw * 1 / 12);
        &.wide {
          right: calc(-100vw * 2 / 12);
        }
      }
      .text {
        font-size: 8rem;
        font-family: vars.$subhead-font-family;
        margin-top: 20px;
        position: relative;
        @include vars.tablet-and-lower {
          margin-top: 10px;
        }
        @include vars.mobile() {
          font-size: 4rem;
        }
      }
    }
  }
}
