@use "../../styles/vars";

.menuSection {
  @include vars.flexbox();
  @include vars.justify-content(center);
  @include vars.align-items(center);
  @include vars.flex-direction(column);

  width: vars.$full;
  background-color: vars.$white;
  padding: 100px 0px;

  @include vars.tablet-and-lower {
    padding-top: 40px;
    padding-bottom: 0px;
  }

  .menuEmbedImage,
  .iconsContainer {
    max-width: 1200px;
    width: vars.$eight-twelfths;

    @include vars.tablet-and-lower {
      width: vars.$full;
    }
  }

  .iconsContainer {
    width: 100%;

    // @include vars.tablet-and-lower {
    //   display: none;
    // }

    .parallaxIconOne {
      margin-top: 60px;
      width: vars.$two-twelfths;
      @include vars.tablet-and-lower {
        margin: 0 auto 30px auto;
        width: vars.$four-twelfths;
      }
    }
  }
  .orderButton {
    @include vars.flexbox();
    @include vars.align-items(center);
    @include vars.justify-content(center);
    @include vars.button-font();
    background: vars.$red;
    border-radius: 50%;
    color: vars.$white;
    font-weight: bold;
    font-size: 1.2rem;
    height: vars.$two-twelfths;
    margin: 60px;
    transform: rotate(-10deg);
    width: vars.$two-twelfths;
    position: relative;
    transition: background 0.25s linear;

    @include vars.tablet-and-lower {
      display: none;
      height: vars.$five-twelfths;
      width: vars.$five-twelfths;
      transform: rotate(-20deg);
      font-size: 1rem;
    }

    .orderNowText {
      bottom: 10px;
      height: calc(100% - 20px);
      left: 10px;
      position: absolute;
      right: 10px;
      top: 10px;
      width: calc(100% - 20px);

      @include vars.tablet-and-lower {
        bottom: 7.5px;
        height: calc(100% - 15px);
        left: 7.5px;
        right: 7.5px;
        top: 7.5px;
        width: calc(100% - 15px);
        transform: rotate(10deg);
      }

      path {
        fill: vars.$white;
      }
    }
    &:hover {
      background: vars.$black;
    }
  }
  .menuFooter {
    @include vars.flexbox();
    @include vars.justify-content(space-between);
    width: vars.$ten-twelfths;

    @include vars.tablet-and-lower {
      @include vars.justify-content(center);
    }
  }
}
