@use "../../styles/vars";

.imageSection {
  @include vars.flexbox();

  div {
    @include vars.flexbox();
    @include vars.align-items(center);
    width: 50%;
    height: 70vh;
    min-height: 300px;
    overflow: hidden;

    @include vars.tablet-and-lower {
      height: 25vh;
      min-height: 176px;
    }

    span,
    img {
      object-fit: cover !important;
      min-width: 100% !important;
      min-height: 100% !important;
    }
  }

  .stretch {
    width: vars.$full;
  }
  &.parallax {
    background: vars.$white;
    div {
      @include vars.justify-content(center);
      border-bottom: vars.$border-width solid vars.$black;
      border-right: vars.$border-width solid vars.$black;
      border-top: vars.$border-width solid vars.$black;
      padding: 15px;
      &:first-child {
        border-left: vars.$border-width solid vars.$black;
      }
      span,
      img {
        height: calc(70vh - 30px) !important;
        object-fit: cover !important;
        min-height: calc(70vh - 30px) !important;
        @include vars.tablet-and-lower {
          height: calc(25vh - 30px) !important;
          min-height: calc(25vh - 30px) !important;
        }
      }
      img {
        &:last-of-type {
          border: vars.$border-width solid vars.$black !important;
        }
      }
    }
  }
}
