@use "../../styles/vars";

.imageSection {
  @include vars.flexbox();

  div {
    @include vars.flexbox();
    @include vars.align-items(center);
    width: 50%;
    height: 70vh;
    min-height: 300px;
    overflow: hidden;
    span,
    img {
      object-fit: cover !important;
      min-width: 100% !important;
      min-height: 100% !important;
    }
  }

  .stretch {
    width: vars.$full;
  }
}
